<br>
<h2>Booked Appointments</h2>
<h2><small><%= @appointments.first.condo.address %></small></h2>
<br>
<% @appointments.reverse.each do |appointment| %>
<div class="thumbnail" id="home-nurbrun" style="display:inline-block;">

<% if appointment.inside_and_outside.to_i > appointment.inside_only.to_i || appointment.inside_and_outside.to_i > appointment.outside_only.to_i %>
    <p><%= appointment.date %></p>
    <p>Inside and Outside ($28.95)</p>
    <% end %>
  <% if appointment.inside_only.to_i > appointment.inside_and_outside.to_i || appointment.inside_only.to_i > appointment.outside_only.to_i %>
    <p><%= appointment.date %></p>
    <p>Outside only ($18.95)</p>
    <% end %>
  <% if appointment.outside_only.to_i > appointment.inside_and_outside.to_i || appointment.outside_only.to_i > appointment.inside_only.to_i %>
    <p><%= appointment.date %></p>
    <p>Outside only ($15.95)</p>
    <% end %>
</div>
<% end %>