<% @condos.each do |condo| %>
<h3><%= condo.address %></h3>
Number of residents using app: <%= condo.users.count %>
<%= link_to 'show', admin_condo_path(condo) %> 
<p>Number of appointments: <%= condo.appointments.count %></p>
<% end %>