<% title("Home Page") %>
<!-- <h1><i class="fa fa-home"></i> Home Page <small>views/pages/home.html.erb</small></h1>
 -->

<h2 style="text-align:center;">Book an overnight handwash at your personal condominium residence</h2>
<br>
<div style="text-align:center;"><%= link_to "Sign up", new_user_registration_path %></div>
<br>
<div style="text-align:center;"><%= link_to "Sign in", new_user_session_path %></div>
