<br>
<div class="col-md-9 col-sm-9 col-xs-12">
	<div style="margin-bottom:20px">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12" style="border-bottom:2px solid whitesmoke;padding-bottom:10px">
			    <p style="margin-top:0px;margin-bottom:0">
			        <strong style="font-size:18px;margin-top:0px">Inside Only</strong> - <small>$15.95</small>
			    </p>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Dash wipedown</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							microfibre wipedown of dash and console with with all-purpose cleaner
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
	            <div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Seat + floor area vacuum</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							vacuum floors, trunk and under seats
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
            </div>	
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Window cleaning</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							ultra-fine microfibre wipedown of all windows
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="col-md-9 col-sm-9 col-xs-12">
	<div style="margin-bottom:20px">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12" style="border-bottom:2px solid whitesmoke;padding-bottom:10px">
			    <p style="margin-top:0px;margin-bottom:0">
			        <strong style="font-size:18px;margin-top:0px">Inside + Outside</strong> - <small>$28.95</small>
			    </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Dash wipedown</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							microfibre wipedown of dash and console with with all-purpose cleaner
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
	            <div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Seat + floor area vacuum</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							vacuum floors, trunk and under seats
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
            </div>	
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Window cleaning</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							ultra-fine microfibre wipedown of all windows
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Exterior handwash + dry</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							double bucket handwash, new water every time
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Tire wash + shine</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							tire scrub down and shine application
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Rim cleaning (included)</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							rim degreaser is applied and rims are hand scrubbed
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-9 col-sm-9 col-xs-12">
	<div style="margin-bottom:20px">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12" style="border-bottom:2px solid whitesmoke;padding-bottom:10px">
			    <p style="margin-top:0px;margin-bottom:0">
			        <strong style="font-size:18px;margin-top:0px">Outside only</strong> - <small>$18.95</small>
			    </p>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Tire wash + shine</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							tire scrub down and shine application
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Rim cleaning (extra)</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							rim degreaser is applied and rims are hand scrubbed
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><small>$4.95</small>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 menu-item" style="padding-top:5px;padding-bottom:5px">
			 	<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-10" style="line-height:20px">
						<p style="margin:0;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							<span>Exterior handwash + dry</span>
						</p>
						<p style="margin:0;font-size:85%; color:#006399; font-style: italic;display: -webkit-box;  -webkit-line-clamp: 1;  -webkit-box-orient: vertical;overflow:hidden">
							double bucket handwash, new water every time
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-2 pull-right" style="line-height:40px"><b></b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


