<p>Welcome!</p>

<p>Thank you for creating an account with Shprittz online. Please click the link below to confim your account. Once logged in you will be able to book a hand wash for your car as early as tonight!</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
<br/>

<p>
  We look forward to caring for your car,<br/><br/>
  The Shprittz Team<br/>
  <%= root_url %>
</p>
